/* navigation media query */

@media (max-width:500px) {
    nav {
        display: flex;
        position: relative;
        width: 100%;
        height: 83px;
    }

    .nav1 {
        height: 84px;
        width: 190px;
        background-color: #232526;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(0 0, 87% 0, 100% 100%, 0% 100%);
        z-index: 100;
    }

    .nav1 img {
        height: 30px;
        width: 100px;
    }

    .empty {
        height: 84px;
        width: 195px;
        background-color: var(--primary-color);
        position: absolute;
        clip-path: polygon(80% 0, 82% 0, 95% 100%, 93% 100%);
        z-index: 100;
    }

    .nav2 {
        height: 35px;
        width: 100%;
        background-color: #232526;
        color: white;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 7px;
        display: none;
    }

    .nav2 p {
        height: 20px;
        width: 50px;
        display: flex;
        align-items: center;
        border-right: 1px solid var(--primary-color);
    }

    .nav2 span {
        color: var(--primary-color);
    }

    .nav2 a {
        text-decoration: none;
        color: white;
        font-weight: 400;
    }

    .nav2 .nav2-1 {
        height: auto;
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: -200px;
        height: auto;
        gap: 30px;
        display: none;
    }

    .nav2 .nav2-2 span {
        &:hover {
            color: #ffffff;
        }
    }

    .nav2-2 {
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid var(--primary-color);
    }

    .nav3 {
        height: 80px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        position: relative;
        top: 0;
        z-index: 90;
    }

    .nav3 ul {
        display: flex;
        position: absolute;
        list-style: none;
        gap: 30px;
    }

    .nav3 ul li {
        cursor: pointer;
        font-weight: 500;

        &:hover {
            color: var(--primary-color);
        }
    }

    .nav3 .nav3-1 span {
        color: var(--primary-color);
    }

    .nav3 .nav3-1 {
        margin-left: 100px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        display: none;
    }

    .nav3 .nav3-2 {
        gap: 20px;
        width: 250px;
        height: 60px;
        display: flex;
        margin-right: -200px;
        justify-content: space-between;
        align-items: center;
    }

    nav .nav3 .btn1,
    .btn2 {
        display: none;
    }


    nav .nav3 .btn {
        display: block;
        position: absolute;
        right: 20px;
        height: 40px;
        width: 45px;
    }

}

@media (min-width:501px) and (max-width:800px) {
    nav {
        display: flex;
        position: relative;
        width: 100%;
        height: 100px;
    }

    .nav1 {
        height: 100px;
        width: 300px;
        background-color: #232526;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(0 0, 87% 0, 100% 100%, 0% 100%);
        z-index: 100;
    }

    .nav1 img {
        height: 40px;
        width: 120px;
    }

    .empty {
        height: 100px;
        width: 300px;
        background-color: var(--primary-color);
        position: absolute;
        clip-path: polygon(80% 0, 82% 0, 95% 100%, 93% 100%);
        z-index: 100;
    }

    .nav2 {
        height: 35px;
        width: 100%;
        background-color: #232526;
        color: white;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 7px;
        display: none;
    }

    .nav3 {
        height: 100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        position: relative;
        top: 0;
        z-index: 90;
    }

    .nav3 .nav3-1 {
        margin-left: 100px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        display: none;
    }

    nav .nav3 .btn1,
    .btn2 {
        display: none;
    }

    nav .nav3 .btn {
        display: block;
        position: absolute;
        right: 30px;
    }
}

@media (min-width:801px) and (max-width:1200px) {
    nav {
        display: flex;
        position: relative;
        width: 100%;
        height: 100px;
    }

    .nav1 {
        height: 100px;
        width: 350px;
        background-color: #232526;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(0 0, 87% 0, 100% 100%, 0% 100%);
        z-index: 100;
    }

    .nav1 img {
        height: 40px;
        width: 170px;
    }

    .empty {
        height: 100px;
        width: 360px;
        background-color: var(--primary-color);
        position: absolute;
        clip-path: polygon(80% 0, 82% 0, 95% 100%, 93% 100%);
        z-index: 100;
    }

    .nav2 {
        height: 55px;
        width: 900px;
        background-color: #232526;
        color: white;
        position: absolute;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        font-size: 13px;
    }

    .nav2 p {
        height: 30px;
        width: 150px;
        display: flex;
        align-items: center;
        border-right: 1px solid var(--primary-color);
    }

    .nav3 {
        height: 100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        position: relative;
        top: 0;
        z-index: 90;
    }

    .nav3 .nav3-1 {
        margin-left: 100px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        display: none;
    }

    nav .nav3 .btn1,
    .btn2 {
        display: none;
    }

    nav .nav3 .btn {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
    }
}

/* container 1 media query */

@media (max-width:500px) {
    .container1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        position: relative;
        width: 100%;
        height: 300px;
    }

    .container1 .image1 {
        width: 100%;
        height: 300px;
        position: absolute;
    }

    .container1 .img1 {
        width: 100%;
        height: 300px;
    }

    .container1 .img2 {
        width: 100%;
        height: 300px;
    }

    .container1 .image2 {
        position: absolute;
        width: 280px;
        height: 300px;
        right: 0;
        clip-path: polygon(39% 0, 100% 0%, 100% 100%, 8% 99%);
    }

    .container1 .content {
        position: absolute;
        top: 40px;
        height: 230px;
        width: 400px;
        z-index: 3;
        left: 15px;
        color: #ffffff;
    }

    .container1 h3 {
        font-size: 13px;
        font-weight: 900;
    }

    .container1 h1 {
        font-size: 23px;
        font-weight: 900;
    }

    .container1 p {
        font-size: 12px;
        font-weight: 500;
    }

    .container1 .btns {
        height: 40px;
        width: 190px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container1 .btn3 {
        height: 30px;
        width: 70px;
        color: var(--primary-color);
        font-size: 10px;
        font-weight: 500;
        border-radius: 5px;
        background-color: var(--secondry-color);
        cursor: pointer;

        &:hover {
            background-color: var(--primary-color);
            color: #F8F8F8;
        }
    }

    .container1 .btn4 {
        height: 30px;
        width: 70px;
        color: var(--secondry-color);
        font-size: 10px;
        font-weight: 500;
        border-radius: 5px;
        background-color: var(--primary-color);
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
            background-color: var(--secondry-color);
        }
    }
}

/* container 2 media query */

@media (max-width:500px) {
    .container2 {
        width: 100%;
        height: 1250px;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
    }

    .container2 .box1 {
        display: flex;
        flex-wrap: wrap;
        height: 600px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .container2 .box1 h2 {
        color: var(--primary-color);
        font-size: 15px;
    }

    .container2 .box1 h1 {
        font-size: 28px;
        color: black;
        font-weight: bolder;
    }

    .container2 .box1 .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        color: var(--primary-color);
    }

    .container2 .box1 .b1 {
        display: flex;
        gap: 5px;
        cursor: pointer;
        font-size: 14px;
        color: var(--primary-color);
    }

    .container2 .box1 .b2 {
        display: flex;
        gap: 5px;
        cursor: pointer;
        font-size: 14px;
        color: var(--primary-color);
    }

    .container2 .box1 p {
        color: #2a2929;
        word-spacing: 1px;
        font-size: 14px;
        text-align: start;
    }

    .container2 .box1 .para {
        height: 100px;
        width: 100%;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container2 .box1 .para span {
        color: var(--primary-color);
    }

    .container2 .btn5 {
        height: 40px;
        width: 140px;
        color: var(--secondry-color);
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        background-color: var(--primary-color);
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
            background-color: var(--secondry-color);
            border: 2px solid var(--primary-color);
        }
    }

    .container2 .box2 {
        height: 500px;
        width: 100%;
        max-width: 420px;
        position: relative;
    }

    .container2 .box2 .one {
        clip-path: polygon(0 0, 100% 0, 100% 39%, 43% 39%, 43% 55%, 0% 55%);
    }

    .container2 .box2 .two img {
        height: 250px;
        width: 100%;
    }

    .container2 .box2 .two {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 250px;
        width: 190px;
        min-width: 190px;
    }

    .container2 .box2 .three {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        height: 150px;
        width: 155px;
        min-width: 155px;
        color: #ffffff;
        background-color: #FD5523;
    }

    .container2 .box2 .three h1 {
        font-size: 40px;
    }

    .container2 .box2 .three h2 {
        font-size: 23px;
    }

}

/* container 3 media query */

@media (max-width:500px) {
    .container3 {
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://themes.incognitothemes.com/logiport/assets/images/banner-img.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        color: #ffffff;
        display: flex;
        padding: 15px;
        justify-content: space-between;
    }

    .container3 .box1 {
        height: 130px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }

    .container3 h2 {
        font-size: 13px;
    }

    .container3 h1 {
        font-size: 20px;
    }

    .container3 .btn6 {
        height: 35px;
        width: 130px;
        color: var(--secondry-color);
        font-size: 13px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        background-color: var(--primary-color);
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
            background-color: var(--secondry-color);
            border: 2px solid var(--primary-color);
        }
    }
}

/* container 4 media query */

@media (max-width:500px) {
    .container4 {
        display: flex;
        flex-wrap: wrap;
        height: 1670px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .container4 .box1 {
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .container4 .box1>h1 {
        font-size: 18px;
    }

    .container4 .box1>p {
        font-size: 13px;
        color: gray;
    }

    .container4 .wrapper {
        height: 1400px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .container4 .wrapper .box2 {
        height: 400px;
        width: 330px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px solid #dedede;

    }

    .container4 .wrapper .box2 img {
        height: 210px;
        width: 330px;
    }

    .container4 .wrapper h2 {
        font-size: 25px;
        color: #FD5523;
    }

    .container4 .wrapper p {
        font-size: 17px;
    }

    .container4 .wrapper .d1 {
        margin-left: 10px;
    }

    .container4 .wrapper .btn7 {
        height: 40px;
        width: 140px;
        color: var(--secondry-color);
        font-size: 17px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        background-color: var(--primary-color);
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
            background-color: var(--secondry-color);
            border: 2px solid var(--primary-color);
        }
    }
}

/* container 5 media query */

@media (max-width:500px) {
    .container5 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 1400px;
        width: 100%;
        background-color: #111111;
        padding: 15px;
    }

    .container5 .box1 {
        height: 700px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .container5 .box1 h2 {
        color: #FD5523;
        font-size: 16px;
    }

    .container5 .box1 h1 {
        color: #ffffff;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .container5 .box1 p {
        color: #ffffff;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .container5 .box1 h4 {
        font-size: 16px;
    }


    .container5 .box4 {
        height: 453px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .container5 .box4 img {
        height: 250px;
    }

    .container5 .box4 .box4-1 {
        padding-left: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: white;
        justify-content: space-between;
    }

    .container5 .box4 h2 {
        color: #494949;
        font-size: 22px;
    }

    .container5 .box4 p {
        color: #4c4c4c;
        font-size: 13px;
    }

    .container5 span {
        color: #232526;
    }
}

/* container 6 media query */

@media (max-width:500px) {
    .container6 {
        display: flex;
        flex-wrap: wrap;
        height: 1800px;
        width: 100%;
        align-items: center;
        padding: 15px;
    }

    .container6 .box1 {
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .container6 .box1>h1 {
        font-size: 23px;
        font-weight: 900;
    }

    .container6 .box1>p {
        font-size: 12px;
        color: gray;
    }

    .container6 .wrapper {
        height: 1400px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .container6 .wrapper .box2 {
        height: 450px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container6 .wrapper h2 {
        font-size: 20px;
        color: #FD5523;
        text-align: center;
    }

    .container6 .wrapper p {
        font-size: 14px;
        color: gray;
    }

    .container6 .wrapper .d1 {
        margin-left: 10px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .container6 .wrapper .d2 {
        height: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

/* container 7 media query */
@media (max-width:500px) {
    .container7 {
        display: flex;
        flex-wrap: wrap;
        height: 1800px;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
    }

    .container7 .box1 {
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        word-spacing: 1px;
        margin-top: 50px;
    }

    .container7 .box1>h1 {
        font-size: 20px;
        font-weight: 900;
    }

    .container7 .box1>h2 {
        font-size: 18px;
        font-weight: 900;
    }

    .container7 .box1>p {
        font-size: 15px;
        color: gray;
    }


    .container7 .wrapper {
        height: 1500px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .container7 .wrapper .box {
        height: 335px;
        width: 230px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &:hover {
            box-shadow: 0px 0px 20px gray;
        }
    }

    .container7 .wrapper .box img {
        height: 260px;
    }

    .container7 .wrapper .box .b1 {
        display: flex;
        flex-wrap: wrap;
        height: 70px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

/* container 8 media query */
@media (max-width:500px) {
    .container8 {
        display: flex;
        flex-wrap: wrap;
        height: 1100px;
        width: 100%;
        padding: 15px;
        justify-content: space-evenly;
        align-items: center;
        background-color: #111212;
    }

    .container8 .box1 {
        width: 100%;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container8 .box1 h1 {
        font-size: 23px;
        color: white;
    }

    .container8 .box1 p {
        color: gray;
        font-size: 15px;
    }

    .container8 .box1 .btn10 {
        height: 40px;
        width: 160px;
        color: var(--primary-color);
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        background-color: var(--secondry-color);
        cursor: pointer;

        &:hover {
            color: var(--secondry-color);
            background-color: var(--primary-color);
        }
    }

    .container8 .box2 {
        height: 330px;
        width: 350px;
    }

    .container8 .box2-1 {
        height: 150px;
        width: 100%;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .container8 .box2-1 .b2 {
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }

    .container8 .box2-1 .b2 span {
        color: #FD5523;
    }

    .container8 .box2-1 .b2 #star1 {
        color: #111111;
    }

    .container8 .box2-2 {
        height: 130px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        border-bottom: 2px solid #FD5523;
        border-left: 2px solid #FD5523;
        border-right: 2px solid #FD5523;
    }

    .container8 .box2-2 .b3 {
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        width: 300px;
        color: gray;
        font-size: 15px;
    }

}

/* container 9 media query */
@media (max-width:500px) {
    .container9 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 950px;
        width: 100%;
        padding: 15px;
    }

    .container9 .box1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 300px;
        width: 100%;
    }

    .container9 .box1 h1 {
        font-size: 23px;
        color: #111212;
    }

    .container9 .box1 h2 {
        font-size: 16px;
        color: #111212;
    }

    .container9 .box1 p {
        font-size: 15px;
        color: #111212;
    }

    .container9 .box1 .btn11 {
        height: 50px;
        width: 170px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        background-color: var(--primary-color);
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
            background-color: var(--secondry-color);
            border: 2px solid var(--primary-color);
        }
    }

    .container9 .box2 {
        height: 550px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .container9 .box2>ul {
        height: 50px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 85px;
    }

    .container9 .box2>ul>li {
        list-style: none;
        width: 100%;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        cursor: pointer;
        padding-left: 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px black;

        &:hover {
            background-color: #FD5523;
            color: white;
            border: 2px Solid skyblue;
        }
    }

    .container9 .box2>ul>li>.dl {
        display: flex;
        align-items: center;
        list-style: none;
        position: absolute;
        top: 53px;
        display: none;
    }

    .container9 .box2>ul>li>.dl li {
        list-style: none;
        width: 100%;
        height: 75px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        position: relative;
        color: black;
        border-radius: 10px;
        box-shadow: 0 0 5px black;

        &:hover {
            box-shadow: 0 0 5px black;
            color: black;
        }
    }

    .container9 .box2>ul>li:hover .dl {
        display: flex;
    }
}

/* container 10 media query */
@media (max-width:500px) {
    .container10 {
        height: 1250px;
        width: 100%;
        background-color: #111212;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
    }

    .container10 .wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .container10 .box1 .input-area {
        width: 400px;
        height: 50px;
        position: relative;
        border: none;
    }

    .container10 input {
        width: 100%;
        height: 50px;
        border: none;
        padding: 10px 15px;
    }

    .container10 .box1 .input-area .btn12 {
        position: absolute;
        right: 5px;
    }

    .container10 .box1 .btn12 {
        height: 40px;
        width: 100px;
        color: white;
        font-size: 17px;
        font-weight: 500;
        position: absolute;
        right: 5px;
        top: 5px;
        border: none;
        border-radius: 5px;
        background-color: var(--primary-color);
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
            background-color: var(--secondry-color);
            border: 2px solid var(--primary-color);
        }
    }

    .container10 .box2 {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

    }

    .container10 .box2 span {
        height: 50px;
        width: 50px;
        background-color: white;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        &:hover {
            color: var(--secondry-color);
            background-color: var(--primary-color);
            border: 2px solid var(--secondry-color);
        }
    }

    .container10 .box3 {
        height: 950px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .container10 .box3 .box3-1 {
        height: 200px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: white;
    }

    .container10 .box3 .box3-1 p {
        font-size: 15px;
    }

    .container10 .box3 .box3-2 {
        height: 280px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        flex-direction: column;
        color: white;
    }

    .container10 .box3 .box3-3 {
        height: 200px;
        width: 270px;
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        flex-direction: column;
        color: white;
    }

    .container10 .box3-2 ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }

    .container10 .box3-2 a {
        text-decoration: none;
        color: white;

        &:hover {
            color: var(--primary-color);
        }
    }

    .container10 .box3-2 span {
        color: var(--primary-color);
    }
}